body {
    background-color: #f8f9fa;
}
.container {
    padding: 20px;
}

.profile-info {
    text-align: center;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
}
.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.user-name {
    font-size: 24px;
    font-weight: bold;
}
.user-image-container {
    text-align: center;
}
user-description {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
.edit-description {
    display: none;
}
.btn-group {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.favorite-users {
    text-align: center;
    margin-top: 20px;
}
.footer-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-buttons button {
    margin-right: 10px;
}

.upload-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-form h4 {
    text-align: center;
    color: #007bff;
}

.upload-form .form-label {
    font-weight: bold;
}

.upload-form input[type="file"] {
    margin-bottom: 15px;
}

.upload-form button {
    width: 100%;
}

