 /* Adicione estilos personalizados aqui */
 body {
    background-color: #f8f9fa;
}
.container-login {
    background-color: #343a40;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.container-welcome {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.buttonCadastro{
    margin-bottom: 10%;
}
.buttonVoltar{
    margin-bottom: 10%;
}